body {
    font-family:Arial, verdana, helvetica, 'sans-serif';
    font-size:13px;
    line-height:1.5em;
}
h1 {
    font-size:3em;
    color:#557C95;
}

h2 {
    margin:0px 0 15px 0;
    font-size:2em;
    color:#557C95;
}

h2#titol-credits {
    margin:15px 0 15px 0;
    font-size:2em;
    color:#557C95;
}

h3 {
    color:#557C95;
}

.lead {
    font-size:1.6em;
}

#col-esquerra {
    width:300px;
    margin-right:10px;
    float:left;
    
}

#calculadora {
    border:1px solid silver;
    width:95%;
    margin-bottom:10px;
    padding:10px;
}

#discurs {
    width:100%;
    clear:both;
}

#resultats {
    width:590px;
    border:1px solid silver;
    float:left;
    margin-left:10px;
    padding:10px;
}

#wrapper {
    max-width: 950px;// mida del genweb
    margin: 0 auto;
}

input, select {
    width:120px;
    text-align:right;
    border:1px solid #bbb;
    float:right;
}

input[type="checkbox"] {
    width:auto;
}

input#carreresInput {
    width:100%;
    text-align:left;
    margin: 2px 0;
}

label {
    float:left;
    display:inline-block;
    width:120px;
}

label#carreresLabel {
    width:100%;
}

.form-row {
    margin:2px 0;
    padding:0;
    width:100%;
    float:left;
}

#llindarselect-cb {
    float:right;
    width:120px;
}

.form-row#llindarselect-cb select {
    float:left;
}

.resultat {
    font-weight:bold;
}

.gran  {
    font-size: 2em;
    font-weight:bold;
}

#resultat-import-pta, #resultat-import-dracma {
    font-weight: normal;
    font-style: italic;
}
.import-multilinia {
    line-height:250%;
}
.botons {
    text-align:right;
    width:100%;
}

input#botoCalc {
    margin-top:10px;
    padding: 15px;
    width:100px;
    font-weight: bold;
    text-align:center;
}

.error{  
    margin-bottom: 20px;  
    display:block;
	color: red;
} 

.taula-increments {
    border-collapse:collapse;
    border: 1px solid silver;
    margin: 5px auto;
}

.taula-increments th, .taula-increments td {
border: 1px solid silver;
padding:10px;
}

.taula-increments theader, .taula-increments.col1 , .taula-increments thead , .taula-etiq {
    font-weight:bold;
}

#info-trams {
display:none;
}

.resultat {
    display:none;
}

.resultat-import-anterior, #resultat-import-p, #resultat-diferencia-preus {
    font-weight:bold;
}

#resultat-sense-llindar {
    display:none;
}

.form-pla-estudis, .form-credits {
    width:100%;
    float:left;
} 


/* calculadora de llindar */
#calculadora-llindar {
    float:left;
    clear:both;
    padding:10px;
    margin-right:5px;
    background-color:#ccc;    
}

#calculadora-llindar #calculadora-llindar-form  {
    width:100%;
    margin: 0 auto;
    float:left;
}

#calculadora-llindar #calculadora-llindar-form #llindar-col-esquerra {
    width:335px;
    float:left;
}
#calculadora-llindar #calculadora-llindar-form #llindar-resultats {
    width:160px;
    float:left;
    font-size:1.5em;
    line-height:150%;
    font-weight:bold;
    text-align:center;
    margin: 27px 23px;
}

#calculadora-llindar #calculadora-llindar-form label  {
    width:260px;
    clear:both;
    float:left;
}

#calculadora-llindar #calculadora-llindar-form input, #calculadora-llindar #calculadora-llindar-form select {
    width:70px;
}

#calculadora-llindar #calculadora-llindar-form .form-row {
    width:auto;
}

.destacat {
    background-color: #ccc;
    padding:7px;
}

#imports-x-llindar {
    text-align:center;
}

#imports-x-llindar td {
    width:40px;
}

#imports-x-llindar  td.taula-etiq {
    width:60px;
}
